.project {
  text-decoration: none;
  color: #ffee0e;
  font-family: 'bangers', cursive;
  text-align: center;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
  -1px -1px 0 #000;
  background-color: #ff92c2;
  max-width: 450px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  transition: all 0.5s ease-out;
  border-radius: 6px;
}

.project:hover {
  box-shadow: 0 0 20px 0px #e6166b;
  transform: scale(1.02);
  color: #e6166b;
}

.project-header {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-header h3 {
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

.project-body-image {
  max-height: 150px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 30px;
}
.project-body-image img {
  width: 100%;
}
