.project {
  text-decoration: none;
  color: white;
  background-color: #ff92c2;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  transition: all 0.5s ease-out;
  border-radius: 6px;
}

.project:hover {
  box-shadow: 0 0 20px 0px #e6166b;
  transform: scale(1.02);
  color: #e6166b;
}

.project-header {
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-header h3 {
  font-size: 1.3rem;
}

.project-body-image {
  max-height: 150px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 30px;
}
.project-body-image img {
  width: 100%;
}

.project-footer p {
  font-size: 1.1rem;
}
.project-footer h5 {
  font-size: 1.2rem;
  margin: 0;
}