.question {
  background-color: white;
  font-family: "bangers", cursive;
  font-size: 2.5vw;
  color: black;
  width: 30vw;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
  text-align: center;
}


.comment-form {
display: flex;
justify-content: center;
align-items: center;
background: url('../../Screens/ProjectDetails/details.png');
background-size: contain;
border-bottom: 1px solid white;
flex-direction: column;
row-gap: 2vw;
height: auto;
margin: auto;
border: 1px solid black;
padding: 32px;
box-shadow: 10px 10px black;
font-size: 2.5rem;
color: black;
font-family: "bangers", cursive;
}


.input-comment-name {
width: 20vw;
margin-top: 2vh;
font-family: 'gudea', sans-serif;
}

.input-comment-comment {
width: 20vw;
font-family: 'gudea', sans-serif;
}


input {
  padding: 12px 20px;
  font-size: 1vw;
}

textarea {
  width: 100%;
  height: 50%;
  padding: 12px 20px;
  resize: none !important;
}

.comment-submit-button {
  background-color: white;
  font-family: 'gudea', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10vw;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 1024px) {
  .question {
    font-size: 10vw;
    width: 90vw;
    margin-bottom: 4vh;
  }

  .comment-form {
    margin-bottom: 2vh;
  }

  .input-comment-name {
    width: 70vw;
    font-size: 5vw;
    }
    
    .input-comment-comment {
      width: 70vw;
      font-size: 5vw;
    }

    .comment-submit-button {
      width: 35vw;
    }
}


