.landing-container {
  background: url("../Landing/landing3.png");
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.landing-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 0;
  margin: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.landing-name-1 {
  font-family: "bangers", cursive;
  color: #00bfff;
  font-size: 8vw;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  line-height: 16vh;
}

.dev-title-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.landing-developer {
  font-family: 'gudea', sans-serif;
  color: black;
  font-size: 2vw;
  line-height: 3vh;
}



@media only screen and (max-width: 600px) {
  .landing-container {
    flex-direction: column;
    background-image: none;
    background-color: #ffee0e;
  }

  .landing-image img {
    display: flex;
    flex-direction: unset;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }


  .landing-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 0px;
    margin-top: 12vh;
    line-height: 0px;
  }

  .landing-name-1 {
    text-align: center;
    font-family: "bangers", cursive;
    color: #00bfff;
    font-size: 20vw;
    width: 100vw;
    position: absolute;
    margin-bottom: 5vh;
  }

  .dev-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0;
    margin-top: 55vh;
    position: absolute;
  }

  .landing-developer {
    font-family: 'gudea', sans-serif;
    color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    padding: 0;

  }
}

