.landing-image1 {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.landing-image2 {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.landing-image-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

