.project-detail-header {
  background-color: #ffee0e;
  font-family: "bangers", cursive;
  font-size: 5vw;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  color: white;
  width: 50%;
  height: 200px;
  margin: auto;
  margin-bottom: 5rem;
  padding: 0;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
}
.details-container {
  background-image: url(../ProjectDetails/ProjectDetailback.png);
  display: flex;
  flex-direction: column;
}

.details-container img {
  width: 100%;
}

.projects-detail-container {
display: flex;
flex-direction: row;

}
.detail-section {
  display: flex;
  background-color: #ff92c2;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  flex-direction: column !important;
  padding: 50px 0;
  width: 30%;
  height: 50%;
  margin: auto;
  align-items:center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
}

.commentform-project-section {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  flex-flow: row wrap;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.commenttable-project-section {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  flex-flow: row wrap;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.comment-table {
display: flex;
background-color: #ff92c2;
justify-content: space-evenly;
border-bottom: 1px solid white;
flex-direction: row !important;
padding: 50px 0;
height: 50%;
margin: auto;
align-items:center;
border: 1px solid black;
padding: 10px;
box-shadow: 10px 10px black;
color: black;
}

.comment-table-name {
  display: flex;
  font-family: "gudea", sans-serif;
  margin-right: 2vw;
  text-align: center;
  padding: 2px;
}

.comment-table-comment {
  display: flex;
  font-family: "gudea", sans-serif;
  margin-right: 2vw;
  text-align: left;
}

.project-detail-image img {
  width: 40%;
  margin: auto;
  align-items:center;
  justify-content: center;
  display: flex;
}
.project-detail-image {
  margin-bottom: 3rem;
}

.project-detail-text {
  text-align: center;
  flex-direction: column;
  border-width: 0.1em;
  width: 100%;
}

.project-detail-title {
  font-size: 3.5rem;
  color: white;
  font-family: "bangers", cursive;
  text-align: center;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-bottom: .5em;
  margin-top: .5em;
}

.project-detail-gitHub {
  font-size: 1.3rem;
  font-family: 'gudea', sans-serif;
  text-decoration: none;
  color: black;
  margin-bottom:.5em;
}
a:link {
text-decoration: none;
color: black;
}

a:hover {
color: #ffee0e;
}

.project-detail-deployed {
  font-size: 1.3rem;
  font-family: 'gudea', sans-serif;
  text-decoration: none;
  color: black;
  margin-bottom:.5em;
}

.project-detail-specs {
  font-size: 1.3em;
  font-family: 'gudea', sans-serif;
  margin-bottom:1em;
}

.project-detail-content {
  font-size: 1rem;
  font-family: 'gudea', sans-serif;
  margin-bottom:1em;
  width: 50%
}

.commentform-project-details {
  font-size: 2rem;
  font-family: 'gudea', sans-serif;
}

.commenttable-project-details {
  font-size: 2rem;
  font-family: 'gudea', sans-serif;
}
