.project-details-container {
  background: url(../ProjectDetails/ProjectDetailback.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  margin: 0;
}

.project-details-header-title {
  font-family: "bangers", cursive;
  color: white;
  background-color: #ffee0e;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
  width: 50vw;
  font-size: 5vw;
  height: auto;
  padding: 0;
  text-align: center;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
  -1px -1px 0 #000;
  margin-bottom: 8vh;
  margin-top: 5vh;
}

.image-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}


.project-details-image {
  width: 50%;
}

.details-container {
  display: flex;
  background: url('../ProjectDetails/details.png');
  background-size: cover;
  border-bottom: 1px solid white;
  flex-direction: column;
  padding: 50px 0;
  width: 30%;
  height: 50%;
  align-items:center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
}

.commentform-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

.commenttable-project-section {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  width: 100%;
  background-color: #e6166b;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px black;
}

.comment-table-container {
height: 80%;
}


.comment-table {
  display: flex;
  background-color: white;
  border-bottom: 1px solid white;
  flex-direction: row !important;
  width: 100%;
  height: auto;
}
  
  .comment-table-name {
    display: block;
    width:50px;
    font-family: "gudea", sans-serif;
    text-align: left;
    margin-right: 30px;
    padding: 2px;
  }
  
  .comment-table-comment {
    display: block;
    width:200px;
    font-family: "gudea", sans-serif;
    margin-right: 30px;
    padding: 2px;
  }

.project-detail-text {
  text-align: center;
  flex-direction: column;
  border-width: 0.1em;
  width: 100%;
}

.project-detail-title {
  font-size: 3.5rem;
  color: white;
  font-family: "bangers", cursive;
  text-align: center;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-top: .5em;
}

.project-detail-gitHub {
  font-size: 1.3rem;
  font-family: 'gudea', sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 1vh;
  margin-bottom:.5em;
}

.project-detail-gitHub a , .project-detail-deployed a {
  color: black;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 5px black;
  transition: all 0.5s ease-out;
}

.project-detail-gitHub a:hover, .project-detail-deployed a:hover {
  color: white;
  box-shadow: 0 0 20px 0px #e6166b;
  transform: scale(1.02);
  color: #e6166b;
}

.project-detail-gitHub a:active, .project-detail-deployed a:active  {
  color: black;
}

.project-detail-gitHub a:visited, .project-detail-deployed a:visited {
  color: none;
}


.project-detail-deployed {
  font-size: 1.3rem;
  font-family: 'gudea', sans-serif;
  text-decoration: none;
  color: black;
  margin-top: 2vh;
  margin-bottom:.5em;
}

.project-detail-specs {
  font-size: 1.3em;
  font-family: 'gudea', sans-serif;
  margin-bottom:1em;
}

.project-detail-content {
  font-size: 1rem;
  font-family: 'gudea', sans-serif;
  margin-bottom:1em;
  width: 80%;
  background-color: white;
  border: 1px solid black;
padding: 10px;
box-shadow: 10px 10px black;
}

@media only screen and (max-width: 1024px) {
  .project-details-header-title {
    margin-top: 10vh;
    font-size: 10vw;
    width: 90vw;
    margin-bottom: 6vh;
  }

  .image-details-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .project-details-image {
    width: 90%;
    margin-bottom: 4vh;
  }

  .details-container {
    width: 90%;
  }

  .commentform-container {
    flex-direction: column-reverse;
  }

  .project-detail-title {
    font-size: 10vw;
  }

  .comment-table {
    margin-top: 1vh;
    padding-left: 30px;
    padding-top: 10px;
  }

  .commenttable-project-section {
    margin-top: 2vh;
  }
}

