.contact-card-container {
  background: url(../ContactCard/ContactCard.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5vh;
  width: 100vw;
  height: auto;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;
}

.contact-card-title {
  font-family: 'bangers', cursive;
  color: #ffee34;
  font-size: 5vw;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
  -1px -1px 0 #000;
  margin-bottom: 0;
}

.email-container {
background-color: #00bfff;
display: flex;
flex-direction: row;
border: 3px solid;
padding: 10px;
box-shadow: 10px 10px;
margin: auto;
width: 22vw;
align-items: center;
margin-bottom: 1.5vh;
}

.email-info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 30px;
}

.email-icon img {
width: 4vw;
margin-left: 40px;
}

.email-title {
  font-family: 'bangers', cursive;
  font-size: 2vw;
  line-height: 1px;
}

.email-link {
  font-family: 'gudea', sans-serif;
  font-size: 1vw;
line-height: 1px;
color: black;
text-decoration: none;
}

.email-link a{
  color: black;
text-decoration: none;
}

.linkedin-container {
background-color: #ff92c2;
display: flex;
flex-direction: row;
border: 3px solid;
padding: 10px;
box-shadow: 10px 10px;
margin: auto;
width: 22vw;
align-items: center;
margin-bottom: 1.5vh;
}

.linkedin-info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 30px;
}

.linkedin-icon img{
  width: 4vw;
  margin-left: 40px;
}

.linkedin-title {
  font-family: 'bangers', cursive;
  font-size: 2vw;
  line-height: 1px;
}

.linkedin-link {
  font-size: 1vw;
line-height: 1px;
color: black;
text-decoration: none;
}

.linkedin-link a {
  color: black;
text-decoration: none;
}

.github-container {
background-color: #ffee0e;
display: flex;
flex-direction: row;
border: 3px solid;
padding: 10px;
box-shadow: 10px 10px;
margin: auto;
width: 22vw;
align-items: center;
margin-bottom: 1.5vh;
}

.github-info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 30px;
}

.github-icon img {
  width: 4vw;
  margin-left: 40px;
}

.github-title {
  font-family: 'bangers', cursive;
  font-size: 2vw;
  line-height: 1px;
}

.github-link {
  font-size: 1vw;
line-height: 1px;
color: black;
text-decoration: none;
}

.github-link a {
  color: black;
text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .contact-card-container {
  flex-direction: column;
  }

  .email-container {
    background-color: #00bfff;
    display: flex;
    flex-direction: row;
    border: 3px solid;
    padding: 10px;
    box-shadow: 10px 10px;
    margin: auto;
    width: 90vw;
    align-items: center;
    }
    
    .email-info {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      margin-bottom: 30px;
    }
    
    .email-icon img {
    width: 10vw;
    margin-left: 40px;
    }
    
    .email-title {
      font-family: 'bangers', cursive;
      font-size: 2vw;
      line-height: 1px;
    }
    
    .email-link {
      font-family: 'gudea', sans-serif;
      font-size: 4vw;
    line-height: 1px;
    
    }
    
    .linkedin-container {
    background-color: #ff92c2;
    display: flex;
    flex-direction: row;
    border: 3px solid;
    padding: 10px;
    box-shadow: 10px 10px;
    margin: auto;
    width: 90vw;
    align-items: center;
    }
    
    .linkedin-info {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      margin-bottom: 30px;
    }
    
    .linkedin-icon img{
      width: 10vw;
      margin-left: 40px;
    }
    
    .linkedin-title {
      font-family: 'bangers', cursive;
      font-size: 2vw;
      line-height: 1px;
    }
    
    .linkedin-link {
      font-size: 4vw;
    line-height: 1px;
    }
    
    .github-container {
    background-color: #ffee0e;
    display: flex;
    flex-direction: row;
    border: 3px solid;
    padding: 10px;
    box-shadow: 10px 10px;
    margin: auto;
    width: 90vw;
    align-items: center;
    }

    .github-info {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      margin-bottom: 30px;
    }
    
    .github-icon img {
      width: 10vw;
      margin-left: 40px;
    }
    
    .github-title {
      font-family: 'bangers', cursive;
      font-size: 2vw;
      line-height: 1px;
    }
    
    .github-link {
      font-size: 4vw;
    line-height: 1px;
    }

    .contact-card-title {
      margin-top: 1vh;
      font-size: 12vw;
    }
}