.delete-button-project {
  margin-top: 15vh;
  position: absolute;
  margin-left: 52vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #00bfff;
  color: white;
  font-family: 'gudea', sans-serif;
  font-size: 20px;
  border: none;
  box-shadow: none;
  width: 10vw;
  height: 10vh;
}
.heading-wine-add {
  font-family: 'bangers', cursive;
  color: white;
  font-size: 4vw;
  text-align: right;
  margin-right: 10vw;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
  -1px -1px 0 #000;
  margin-bottom: 0;
}