.create-project-container {
  margin-top: 0;
  background-color: #ff92c2;
  width: 60vw;
  height: 100vh;
  border: 1px solid;
  padding: 5;
  box-shadow: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10vh;
}

.heading-project-add {
  font-family: 'bangers', cursive;
  font-size: 2vw;
  color: white;
  text-align: center;
  text-shadow: 5px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
  -1px -1px 0 #000;
  padding: 0;
  margin: 0;
}
.add-form {
  display: grid;
  grid-template-areas:
  "A B"
  "C D"
  "E F"
  "G H"
  "I J";
  row-gap: 20px;
  justify-content: space-evenly;
}

.title-label {
  grid-area: A;
  font-family: 'bangers', cursive;
  font-size: 2vw;
  margin: 0;
  width: 2vw;
}

.input-title {
  grid-area: B;
  background-color: #ff92c2;
  height: 4vh;
  border-radius: 5px;
  width: 20vw;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
}

.image-link-label {
  grid-area: C;
  font-family: 'bangers', cursive;
  font-size: 2vw;

}

.input-image-link {
  grid-area: D;
  width: 20vw;
  background-color: #ff92c2;
  height: 4vh;
  border-radius: 5px;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
}

.deployed-link-label {
  grid-area: E;
  font-family: 'bangers', cursive;
  font-size: 2vw;
}

.input-deployed-link {
  grid-area: F;
  width: 20vw;
  background-color: #ff92c2;
  height: 4vh;
  border-radius: 5px;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
}

.github-link-label {
  grid-area: G;
  font-family: 'bangers', cursive;
  font-size: 2vw;
}

.input-github-link {
  grid-area: H;
  width: 20vw;
  background-color: #ff92c2;
  height: 4vh;
  border-radius: 5px;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
}

.specs-label {
  grid-area: I;
  font-family: 'bangers', cursive;
  font-size: 2vw;
}

.input-specs {
  grid-area: J;
  width: 20vw;
  background-color: #ff92c2;
  height: 4vh;
  border-radius: 5px;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
}


.project-description-container {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
  text-align: center;
}

.project-description-label {
  font-family: 'bangers', cursive;
  font-size: 2vw;
  width: 1vw;
  text-align: center;
}

.textarea-description {
  width: 20vw;
  background-color: #ff92c2;
  display: block;
  margin-left: 15.2vw;
  height: 4vh;
  border-radius: 5px;
  font-family: "gudea", sans-serif;
  font-size: 1vw;
  margin-bottom: 12vh;
}

.add-button {
  margin-top: 3vh;
  position: absolute;
  margin-left: 52vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #00bfff;
  color: white;
  font-family: 'gudea', sans-serif;
  font-size: 20px;
  border: none;
  box-shadow: none;
  width: 10vw;
  height: 10vh;
}
